<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Kodano\MobileCoupon\Api\MobileRequestDetectorInterface"
                type="Kodano\MobileCoupon\Model\MobileRequestDetector"/>
    <preference for="Kodano\MobileCoupon\Api\MobileCouponManagementInterface"
                type="Kodano\MobileCoupon\Model\MobileCouponManagement"/>
    <preference for="Kodano\MobileCoupon\Api\Data\MobileRuleInterface"
                type="Kodano\MobileCoupon\Model\Data\MobileRule"/>

    <type name="Magento\Quote\Model\CouponManagement">
        <plugin name="kodano_mobile_coupon_rest_validation"
                type="Kodano\MobileCoupon\Plugin\CouponValidationPlugin"/>
    </type>

    <type name="Magento\QuoteGraphQl\Model\Cart\SetCouponCodeOnCart">
        <plugin name="kodano_mobile_coupon_graphql_validation"
                type="Kodano\MobileCoupon\Plugin\GraphQl\CouponValidationPlugin"/>
    </type>

</config>
